<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CRKGE" connectionString="Application Name=CRKGE;Data Source=olesqlhml17;Initial Catalog=CRKGE;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"/>
  </connectionStrings>
  <appSettings>
    <add key="USUARIO_WS" value="Integracao"/>
    <add key="SENHA_WS" value="1234@"/>
    <add key="ENCRYPTION_WS" value="0"/>
  </appSettings>
</configuration>