<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestaoTributos.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GestaoTributos.Data.Properties.Settings>
            <setting name="GestaoTributos_Data_wsLoteContabil_g5_senior_services"
                serializeAs="String">
                <value>https://web20.senior.com.br:38821/g5-senior-services/sapiens_Synccom_senior_g5_co_mct_ctb_gerarlotectb</value>
            </setting>
            <setting name="GestaoTributos_Data_wsLancamentoContabil_g5_senior_services"
                serializeAs="String">
                <value>https://web20.senior.com.br:38821/g5-senior-services/sapiens_Synccom_senior_g5_co_mct_ctb_importacaolctctb</value>
            </setting>
        </GestaoTributos.Data.Properties.Settings>
    </applicationSettings>
</configuration>